@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ot-container {
    @apply container mx-auto max-w-screen-xl px-4;
  }
  .ot-btn {
    @apply inline-flex items-center justify-center rounded-md border-2 border-primary bg-white px-6 py-2 text-sm font-medium text-gray-900 transition-all hover:bg-primary hover:text-white focus:border-primary focus:outline-none focus:ring-4 focus:ring-primary/30 focus:ring-offset-0;
  }
  .ot-btn-soft {
    @apply border-none bg-gray-100 p-1;
  }
  .ot-dropdown {
    @apply inline-flex items-center justify-center rounded-md border-2 border-primary bg-white px-6 py-2 text-sm font-medium  text-gray-900 transition-all hover:bg-primary hover:text-white focus:outline-none;
  }
  .ot-ring {
    @apply appearance-none transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2 focus-visible:ring-offset-gray-100;
  }
  .ot-placeholder {
    @apply flex items-center justify-center overflow-scroll rounded bg-gray-200 p-4 text-gray-400;
  }
  .ot-line {
    max-width: 65ch;
  }
  .ot-input {
    @apply inline-flex items-center justify-center rounded border border-gray-200 bg-white px-6 py-2  pr-8 text-sm text-primary transition-all placeholder:text-gray-400 hover:border-primary hover:bg-white hover:text-primary focus:border-primary focus:outline-none focus:ring-4 focus:ring-primary/30 focus:ring-offset-0;
  }

  .ot-title-1 {
    @apply mb-8 text-2xl font-semibold uppercase;
  }
  .ot-title-2 {
    @apply mb-6 text-xl font-semibold uppercase;
  }
  .ot-title-3 {
    @apply mb-2 flex items-center gap-2 text-base font-medium;
  }
  .ot-title-4 {
    @apply mb-2 text-sm text-gray-400;
  }

  .ot-code {
    @apply my-2 overflow-scroll rounded-md bg-gray-50 p-2 text-xs text-gray-500;
  }

  .ot-label {
    @apply mb-1 text-sm text-gray-700;
  }

  .router-link-exact-active {
    @apply border-primary bg-primary text-white;
  }
}

.flip-list-instant-move {
  @apply transition-transform duration-500;
}
.flip-list-move {
  @apply transition-transform delay-500 duration-500;
}
.flip-list-delay-move {
  @apply transition-transform delay-500 duration-500;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
